@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');
*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: "Poppins";
}

body {
    background: #f1f1f1;
    margin: 0;
    font-family: "Poppins";
  }
.container{
    display:flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: #fff;
    color: black;
    height: 90.3vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: black;
    padding: 2px 15px;
    transition: all 0.5s;
    border-radius: 0.375rem;
    font-weight: 500;
    transition-duration: 300ms;
    display: flex;
    align-items: center;
    gap: 1.65rem;
    margin: 5px 10px;
}
.link:hover{
    background:#fff;
    color: #3799FC;
    transition: all 0.5s;
}
.active{
    background: #DBEAFE;
    color: #3799FC;
}
.icon{
    font-size: 25px;
}
.link_text{
    font-size: 15px;
}
